<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="model"/>

    <param name="robot_description" textfile="$(find reachy_mobile_description)/urdf/reachy_mobile.urdf"/>
    <node name="tf_footprint_base" pkg="tf"
          type="static_transform_publisher"
          args="0 0 0 0 0 0 base_link base_footprint 40"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
